* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Serif', serif;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    background-color: black;
    display: flex;
    height: 4rem;
    width: 100%;
}

.Logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.Logo img {
    width: 2rem;
    height: 2rem;
    margin-left: 4rem;
}

h1 {
    color: white;
    margin-left: 0.5rem;
    font-size: 1rem;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

header ul {
    display: flex;
    align-items: center;
}

li img {
    margin: 1rem;
    width: 2.1rem;
    height: 2rem;
}

.Entrada {
    height: 130vh;
    background-image: url(img/Dog-Party.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.Entrada h2 {
    position: relative;
    top: 6rem;
    width: 100%;
    color: white;
    font-size: 3rem;
}

.Entrada img {
    position: relative;
    top: 12rem;
    width: 10rem;
    height: 10rem;
}

.Meio {
    width: 100%;
    height: 150vh;
    background-image: url(img/Dog-Lion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

}

#texto {
    margin-left: 3rem;
}

.Meio h2 {
    color: #3A342F;
    font-size: 3.5rem;
    padding: 1rem;
}

.Meio p {
    width: 28rem;
    font-size: 2.5rem;
    color: #3A342F;
    padding: 1rem;
}

button {
    color: white;
    background-color: #3A342F;
    width: 12rem;
    height: 4rem;
    border: 0;
    border-radius: 50px;
    font-size: 1.3rem;
}

.Final {
    width: 100%;
    height: 150vh;
    background-image: url(img/Dog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#texto2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Final h2 {
    width: 12rem;
    top: 13rem;
    color: #ffffff;
    font-size: 3.5rem;
}

.Final p {
    width: 35rem;
    top: 15rem;
    font-size: 2.5rem;
    color: #f9f0e9;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Final button {
    color: #3A342F;
    background-color: #ffffff;
}

.apoio {
    background-color: white;
    height: 8rem;
    display: flex;
    margin-left: 17rem;
}

.apoio h3 {
    color: #EB4A7B;
    font-style: italic;
    font-size: 1.8rem;
    margin-top: 3rem;
}

.apoio img {
    width: 15rem;
    height: 2.3rem;
    margin: 3rem;
}

footer {
    color: #ffffff;
    background-color: #EB4A7B;
    height: 28rem;
}

#sobre {
    display: flex;
    justify-content: start;
    width: 100%;
}

footer h3 {
    padding: 2rem;
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 4rem;
}

footer nav {
    width: 100%;
    display: flex;
}

.info{
    margin-left: 8rem;
}

footer ul {
    width: max-content;
    flex-direction: column;
}

footer li{
    margin: 1rem;
    margin-left: 6rem;
}

